aiofiles
aiohttp
python-arq
asyncio
dnspython
ffmpeg-python
git+https://github.com/gabrielmaialva33/pytgcalls
git+https://github.com/yt-dlp/yt-dlp.git
gitpython
gpytranslate
hachoir
heroku3
httpx
lyricsgenius
motor
pillow==9.5.0
psutil
pykeyboard
pyrogram
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
httpx
tgcrypto
youtube-search
youtube-search-python
