API_ID=276391805 # get this value from my.telegram.org
API_HASH=ff4f2c98db47e59046552b301722a0f2 # get this value from my.telegram.org
BOT_TOKEN=2133083118:AAH1V7K-ENJ2j7O4mfkQs2iKFvwEthm-e9c # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://mrootx:RQvzwLBHpqRtjMNj@cluster.ivlkp.gcp.mongodb.net/music?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001285436101 # get this value from in your log group
MUSIC_BOT_NAME=winx-music-bot # your music bot name
STRING_SESSION=pyrogram_string_session # get this value from @mrootx
